# IDE specific files
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS
.DS_Store

# Build artifacts
/build
/captures
*.apk
*.aab

# Native build
.externalNativeBuild
.cxx
